@{
    ViewData["Title"] = "Error";
}

@if (ViewBag.Error != null)
{   
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}
else
{

    <h2 class="text-danger">Възникна грешка при ползването на приложението</h2>
}